
@media screen and (max-width: 576px) {
    header,
    main
    {
        width: 100%;
        padding: 20px;
    }
    nav,
    .feature-container
    {
        flex-direction: column;
    }
    .logo{
        margin-bottom: 20px;
    }
    .banner-image{
        width: 100%;
    }
    .feature-image-container{
        grid-template-columns: 1fr;
    }
}